body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.light-mode {
  font-family: 'Goldman', cursive;
  --background: #ece6c2;
  --navbar: #d2a24c;
  --text: #6f5643;
  --main: rgb(66, 150, 163);
  --shadow: rgba(66, 150, 163, 0);
  --hourly: rgba(69, 129, 139, 0.15);

  /*current temps*/
  --glass: #6f5643;
  --tile-radius: 50%;
  --cold: #73bda8;
  --hot: #cc6b49;
  --transform-hi-lo: skew(-15deg) translateX(-0.3rem);
  --padding: 0.5rem 13rem 0.5rem 1rem;
  --current-temp-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  --current-cond-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --transform-icon: translate(-0.5rem, 0);
}


.dark-mode {
  font-family: 'Orbitron', sans-serif;
  --background: rgb(14, 30, 33);
  --navbar: rgb(14, 30, 33);
  --text: rgb(233, 252, 255);
  --main: rgb(0, 221, 255);
  --shadow: rgba(66, 150, 163, 1);
  --hourly: rgba(69, 129, 139, 0.3);
  
  /*current temps*/
  --glass: rgba(226, 251, 255, 0.5);
  --tile-radius: 0.2rem;
  --hot: rgb(14, 30, 33);
  --cold: rgb(14, 30, 33);
  --transform-hi-lo: skew(0) translateX(0.7rem);
  --padding: 0.5rem 0 0.5rem 0;
  --current-temp-shadow: none;
  --current-cond-shadow: none;
  --transform-icon: translate(0, 0.5rem);
}